---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
  alt: string;
  size: "sm" | "md" | "lg" | "xl";
  className?: string;
}

const sizes = {
  sm: "w-8 h-8 sm:w-10 sm:h-10",
  md: "w-16 h-16 sm:w-20 sm:h-20",
  lg: "w-20 h-20 sm:w-32 sm:h-32",
  xl: "w-48 h-48 sm:w-60 sm:h-60",
};

const { src, alt, size, className } = Astro.props;
---

<div
  class:list={["rounded-full border overflow-hidden", sizes[size], className]}
>
  <Image {src} {alt} format="avif" quality="low" />
</div>
