---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class:list={[className]}>
  <a href="/"><span class="text-primary font-bold">Retirate</span>JovenRico</a>
</div>
