---
import Container from "@/components/Container.astro";
import { ModeToggle } from "@/components/ModeToggle";
import Navbar from "@/components/Navbar.astro";
import Logo from "@/components/header/Logo.astro";
---

<header class="border-b mb-8 sm:mb-16">
  <Container>
    <div class="flex items-center justify-between gap-4 py-4">
      <Logo />
      <Navbar />
      <ModeToggle client:load />
    </div>
  </Container>
</header>
