---
import { twMerge } from "tailwind-merge";

interface Props {
  title: string;
  subtitle?: string;
  Tag: "h1" | "h2" | "h3" | "h4";
  size: "sm" | "md" | "lg" | "xl";
  align: "left" | "center" | "right";
  capitalize?: boolean;
  className?: string;
}

const sizes = {
  sm: "text-base xs:text-lg sm:text-xl",
  md: "text-xl xs:text-2xl sm:text-3xl",
  lg: "text-3xl xs:text-4xl sm:text-5xl",
  xl: "text-4xl xs:text-5xl sm:text-6xl",
};

const aligns = {
  left: "text-left",
  center: "text-center",
  right: "text-right",
};

const { title, subtitle, Tag, size, align, capitalize, className } =
  Astro.props;
---

<div class:list={twMerge(["max-w-xl", aligns[align], className])}>
  <Tag class:list={["font-bold", sizes[size], { capitalize: capitalize }]}>
    {title}
  </Tag>
  {subtitle && <p class="text-muted-foreground">{subtitle}</p>}
</div>
